In [1]:
#Tuples


tup1 = [1, 2, 3]
tup1

[1, 2, 3]

In [2]:
tup1.pop()

3

In [3]:
tup1

[1, 2]

In [4]:
tup2 = (1, 2, 3)
tup2

(1, 2, 3)

In [5]:
tup2[0]

1

In [6]:
tup1[0]

1

In [7]:
tup1[0] = 10
tup1

[10, 2]

In [9]:
tup2[0] = 10
tup2

TypeError: 'tuple' object does not support item assignment

In [13]:
tup2[1:2]

(2,)

In [14]:
tup2[1]

2

In [15]:
tup2[1] == tup2[1:2]

False

In [16]:
l1 = list(range(1, 11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
l1[0:4]

[1, 2, 3, 4]

In [18]:
l1[9:]

[10]

In [19]:
l1[9]

10

In [20]:
tup2

(1, 2, 3)

In [21]:
print("Hello world")

Hello world

In [22]:
print(l1[0])
print(l1[1])
print(l1[2])
print(l1[3])
print(l1[4])
print(l1[5])
print(l1[6])
print(l1[7])
print(l1[8])
print(l1[9])

1
2
3
4
5
6
7
8
9
10

In [23]:
for i in l1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [26]:
cities = ['Khi', 'Larkana', 'Lhr', 'Hyd', 'Isl', 'Mul', 'Fsd']
cities

['Khi', 'Larkana', 'Lhr', 'Hyd', 'Isl', 'Mul', 'Fsd']

In [27]:
for i in cities:
    if(i == 'Isl'):
        print(f'{i} Andy Wala Burger')
    elif(i == 'Mul'):
        print(f'{i} Sohan Halwa')
    elif(i == 'Khi'):
        print(f'{i} Biryani')
    elif(i == 'Hyd'):
        print(f'{i} Rabbri')
    elif(i == 'Fsd'):
        print(f'{i} Payyee')
    elif(i == 'Lhr'):
        print(f'{i} Zinger')
    else:
        print(f'{i} Nahi Mila')

Khi Biryani
Larkana Nahi Mila
Lhr Zinger
Hyd Rabbri
Isl Andy Wala Burger
Mul Sohan Halwa
Fsd Payyee

In [28]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
for i in l1:
    if i == 5:
        break
    else:
        print(i)

1
2
3
4

In [30]:
for i in l1:
    if i != 5:
        print(i)

1
2
3
4
6
7
8
9
10

In [31]:
for i in l1:
    if i == 5:
        continue
    elif i == 7:
        break
    else:
        print(i)

1
2
3
4
6
7
8
9
10

In [43]:
l2 = list(range(2, 21, 2))

In [44]:
l2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [49]:
list(range(20, 1, -1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [50]:
first_name #snake case
firstName #camel case
firstname

NameError: name 'first_name' is not defined

In [54]:
name = input('Enter your name')
name == 'Hussain'

Enter your namehussain\

False