# Lists

In [11]:
city_1 = "Karachi"
city_2 = "Lahore"
city_3 = "Islamabad"
city_4 = "Faislabad"
city_5 = "Multan"
city_6 = "Queeta"

In [15]:
print("Welcome to " + city_0)

Welcome to Karachi

In [9]:
cities = ["Karachi", "lahore", "Islamabad","Faislabad", "Multan", "Queeta"]
print(cities)

['Karachi', 'lahore', 'Islamabad', 'Faislabad', 'Multan', 'Queeta']

In [10]:
print("Welcome to " + cities[5])

Welcome to Queeta

# Lists: Adding and changing elements

In [11]:
print(cities)

['Karachi', 'lahore', 'Islamabad', 'Faislabad', 'Multan', 'Queeta']

In [12]:
cities.append("New York")
print(cities)

['Karachi', 'lahore', 'Islamabad', 'Faislabad', 'Multan', 'Queeta', 'New York']

In [13]:
cities = cities + ["Dubuque", "New Orleans"]

In [14]:
print(cities)

['Karachi', 'lahore', 'Islamabad', 'Faislabad', 'Multan', 'Queeta', 'New York', 'Dubuque', 'New Orleans']

In [15]:
cities.insert(0, "New York")

In [16]:
print(cities)

['New York', 'Karachi', 'lahore', 'Islamabad', 'Faislabad', 'Multan', 'Queeta', 'New York', 'Dubuque', 'New Orleans']

In [22]:
cities = cities + ["Dubuque", "New Orleans"]
cities

['krachi',
 'New York',
 'New York',
 'Karachi',
 'lahore',
 'Islamabad',
 'Faislabad',
 'Multan',
 'Queeta',
 'New York',
 'Dubuque',
 'New Orleans',
 'Dubuque',
 'New Orleans',
 'Dubuque',
 'New Orleans',
 'Dubuque',
 'New Orleans']

In [18]:
cities.insert(1, "New York")
print(cities)

['New York', 'New York', 'Karachi', 'lahore', 'Islamabad', 'Faislabad', 'Multan', 'Queeta', 'New York', 'Dubuque', 'New Orleans', 'Dubuque', 'New Orleans']

In [19]:
cities.insert(0, "krachi")
print(cities)

['krachi', 'New York', 'New York', 'Karachi', 'lahore', 'Islamabad', 'Faislabad', 'Multan', 'Queeta', 'New York', 'Dubuque', 'New Orleans', 'Dubuque', 'New Orleans']

In [20]:
num = [1, 3, 5, 7, 9]
print(num)

[1, 3, 5, 7, 9]

In [44]:
num.insert(12)
num

[1, 3, 5, 7, 9, 12]

In [37]:
scores = [12, 23, 45, 56]
scores

[12, 23, 45, 56]

In [38]:
scores.append(47)
scores

[12, 23, 45, 56, 47]

# Taking slices out of them

In [55]:
cities = ["Atlanta", "Baltimore", "Chicago","Denver", "Los Angeles", "Seattle"]
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [60]:
smaller_list_of_cities = cities[2:5]
print(smaller_list_of_cities)

['Chicago', 'Denver', 'Los Angeles']

In [62]:
smaller_list_of_cities = cities[:4]
print(smaller_list_of_cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver']

In [65]:
smaller_list_of_cities = cities[3:]
print(smaller_list_of_cities)

['Denver', 'Los Angeles', 'Seattle']

In [34]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
tasks

['email Frank', 'call Sarah', 'meet with Zach']

In [35]:
del tasks[0]

In [36]:
tasks

['call Sarah', 'meet with Zach']

In [37]:
tasks.remove("meet with Zach")
tasks

['call Sarah']

In [3]:
students = ["Nasir", 'Mansoor', "Asad", "Ali", "Ahmed", "saad"]
           #  0          1        2       3      4        5

In [4]:
print(students)

['Nasir', 'Mansoor', 'Asad', 'Ali', 'Ahmed', 'saad']

In [14]:
students[3]

'Ali'

In [86]:
alist = ["qwerty", 345, 3.4, False, [1,2,3,4,5,6,7]]
        #    0      1     2     3       4

In [87]:
alist[1]

345

In [88]:
alist.append(100)

In [89]:
alist[4][6]

7

In [90]:
alist

['qwerty', 345, 3.4, False, [1, 2, 3, 4, 5, 6, 7], 100]

In [91]:

alist.insert(0, "starts here")

In [92]:
alist

['starts here', 'qwerty', 345, 3.4, False, [1, 2, 3, 4, 5, 6, 7], 100]

In [83]:
alist.clear() # will clear all list item

In [93]:
alist

['starts here', 'qwerty', 345, 3.4, False, [1, 2, 3, 4, 5, 6, 7], 100]

In [94]:
blist = alist.copy()

In [95]:
blist

['starts here', 'qwerty', 345, 3.4, False, [1, 2, 3, 4, 5, 6, 7], 100]

In [96]:
blist[4]=True # its  a wqy to change the value in list

In [99]:
blist

['starts here', 'qwerty', 345, 3.4, True, [1, 2, 3, 4, 5, 6, 7], 100]

In [101]:
alist.insert(alist.index(3.4),3455555555) # it insert the value but before the index value

In [102]:
alist

['starts here',
 'qwerty',
 345,
 3455555555,
 3455555555,
 3.4,
 False,
 [1, 2, 3, 4, 5, 6, 7],
 100]

In [103]:
alist.count("False")

0

In [104]:
alist.append(False)

In [105]:
alist

['starts here',
 'qwerty',
 345,
 3455555555,
 3455555555,
 3.4,
 False,
 [1, 2, 3, 4, 5, 6, 7],
 100,
 False]

In [108]:
alist.insert(alist.index(3455555555),45) 
alist

['starts here',
 'qwerty',
 345,
 45,
 45,
 3455555555,
 3455555555,
 3.4,
 False,
 [1, 2, 3, 4, 5, 6, 7],
 100,
 False]

In [110]:
alist.insert(alist.index("qwerty"),1)

In [111]:
alist

['starts here',
 1,
 'qwerty',
 345,
 45,
 45,
 3455555555,
 3455555555,
 3.4,
 False,
 [1, 2, 3, 4, 5, 6, 7],
 100,
 False]

In [127]:
a =  [1,2,3,4]
b = [5,6,7,9]
c = a + b

In [128]:
c

[1, 2, 3, 4, 5, 6, 7, 9]

In [130]:
c.extend(a)

In [131]:
c

[1, 2, 3, 4, 5, 6, 7, 9, 1, 2, 3, 4]

In [132]:
c.append(a)

In [133]:
c

[1, 2, 3, 4, 5, 6, 7, 9, 1, 2, 3, 4, [1, 2, 3, 4]]

In [141]:
c.pop(1) #  it remove and return the index valve

5

In [142]:
c

[1, 6, 7, 9, 2, 4, [1, 2, 3, 4]]

In [164]:
c.append(b)

In [165]:
c

[1, 6, 7, 9, 2, 4, [1], 5, 6, 7, 9, 5, 6, 7, 9, [5, 6, 7, 9]]

In [168]:
c[15].pop(2)

9

In [169]:
c

[1, 6, 7, 9, 2, 4, [1], 5, 6, 7, 9, 5, 6, 7, 9, [5, 7]]

In [170]:
poppedElement = c.pop(3)

In [171]:
poppedElement

9

In [173]:
c.remove(6)

In [175]:
c

[1, 7, 2, 4, [1], 5, 6, 7, 9, 5, 6, 7, 9, [5, 7]]

In [176]:
c.remove([1])

In [177]:
c

[1, 7, 2, 4, 5, 6, 7, 9, 5, 6, 7, 9, [5, 7]]

In [179]:
c.reverse()

In [180]:
c

[[5, 7], 9, 7, 6, 5, 9, 7, 6, 5, 4, 2, 7, 1]

In [182]:
c

[[5, 7], 9, 7, 6, 5, 9, 7, 6, 5, 4, 2, 7, 1]

In [185]:
c.remove([5,7])

In [186]:
c

[9, 7, 6, 5, 9, 7, 6, 5, 4, 2, 7, 1]

In [187]:
c.sort()

In [188]:
c

[1, 2, 4, 5, 5, 6, 6, 7, 7, 7, 9, 9]

In [190]:
c.sort(reverse=True)

In [191]:
c

[9, 9, 7, 7, 7, 6, 6, 5, 5, 4, 2, 1]

# Slicing

In [1]:
new_list = [11, 22, 33, 44, 55, 66, 77, 88, 99]

In [4]:
new_list [1:4]

[22, 33, 44]

In [5]:
new_list [0:4]

[11, 22, 33, 44]

In [6]:
new_list [:4]

[11, 22, 33, 44]

In [8]:
new_list [3:]

[44, 55, 66, 77, 88, 99]

In [9]:
new_list

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [10]:
# 0  1   2   3   4    5   6   7   8
# -9 -8 -7  -6  -5   -4   -3  -2 -1

In [11]:
new_list[-9]

11

In [12]:
new_list [-5:-1]

[55, 66, 77, 88]

In [14]:
new_list [0:9:2]

[11, 33, 55, 77, 99]

In [29]:
new_list [0:9:3]

[11, 44, 77]

In [30]:
new_list[0:9:5]

[11, 66]