# print()

In [1]:
print("hello world")

hello world

In [2]:
print("Pakistan")

Pakistan

In [3]:
print(12)

12

In [2]:
print("Pakistan")

Pakistan

In [5]:
print('Pakistan')

Pakistan

In [6]:
print(1,2,3,4,5)

1 2 3 4 5

In [12]:
print("pakistan", "chaina", "india")

pakistan chaina india

escape character

In [15]:
print("Pakistan", "India", "Chaina", sep="****") #separator is "sep" : use for separate tha word

Pakistan****India****Chaina

In [23]:
print("Pakistan", "India", "Chaina", sep = '\n') # \n for break the line

Pakistan
India
Chaina

In [25]:
print("Pakistan", "India", "Chaina", sep="\n")

Pakistan
India
Chaina

In [38]:
print("Karachi is tha \n city of lights")

Karachi is tha
 city of lights

# 2
Variables for Strings

In [39]:
name="afshan"

In [40]:
print(name)

afshan

In [42]:
age="12" # wrong way to write 
print(age)

12

In [43]:
age =18
print (age)

18

In [44]:
age =20 
age

20

In [47]:
student_name='afshan'
student_name

'afshan'

In [48]:
print(student_name)

afshan

In [4]:
age = 20 
age

20

In [13]:
first_name = "Afshan" 
last_name = "Irfan "
print(first_name , last_name)

Afshan Irfan

number

In [25]:
weight = 30 
print(weight)

30

In [30]:
age = 20
age = age+5
print(age)

25

In [31]:
2+4

6

In [33]:
6//3

2

 print('a\
... b\
... c')

In [44]:
print("a\
b\
c")

abc

In [49]:
print("a \
      b \
      c")

a       b       c

In [51]:
10/10 #by default division is floating point

1.0

In [53]:
10//10 # double slash cponvert it to int

1

# Math expressions: Unfamiliar operators

% is the modulo operator. It divides one number by another number, but
doesn't give you the result of the division. It gives you the remainder after the
first number is divided by the second number. If you divide 10 by 3, the
remainder is 1. So in the example above, whats_left_over has a value of
1.

In [1]:
10 % 3

1

In [56]:
45%10

5

In [2]:
9 % 3

0

In [60]:
8%9

8

In [61]:
3%4

3

In [62]:
4%3

1

In [64]:
7 % 2

1

In [65]:
2%7

2

In [66]:
10%100

10

In [67]:
4%100

4

Example using the Modulo Operator
One common use for the Modulo Operator is to find even or odd numbers. The code below uses the modulo operator to print all odd numbers between 0 and 10.

In [69]:
for number in range(1, 10): #the modulo operator to print all odd numbers between 0 and 10.
    if(number % 2 != 0):
        print(number)

1
3
5
7
9

In [104]:
for num in range(1, 10):
    if(num % 2 != 0):
        print(num)

1
3
5
7
9

# increment , decrement

In [6]:
age = 20 
age = age + 1
print(age)

21

In [8]:
new_age = 30
new_age +=30 
print(new_age)

60

In [110]:
price = 50
price

50

In [111]:
price = price +10
price

60

In [113]:
round(10/3)

3

In [2]:
6/3

2.0

In [4]:
ans = 2+3*10/2
ans

17.0

2+3*10/2 "10/2=5"
2+3*5      "3*5=15"
2+15      "2+15=17"
17

In [5]:
res = 1/2*5+4/2
res

4.5

In [6]:
4/2

2.0

In [9]:
1/2

0.5

In [10]:
0.5*5

2.5

In [11]:
2.5+2

4.5

In [14]:
res1 = 10/2*3/3
res1

5.0

In [15]:
res1 = 10/2**3/3
res1

0.4166666666666667

In [22]:
2**3

8

In [23]:
10/8

1.25

In [24]:
1.25/3

0.4166666666666667

In [26]:
loss = 12 - 24
loss

-12

In [30]:
num = 10
another_num = 1.5
sum_of_numbers = num + another_num

In [31]:
print(sum_of_numbers)

11.5

In [9]:
total_cost = 1 + 3 * 4
total_cost

13

In [10]:
res = (2 * 4) * 4 + 2
res

34

In [19]:
2*4 #solution

8

In [12]:
8*4

32

In [13]:
32+2

34

In [14]:
one = 2*4*4+2
one

34

In [18]:
4*4 # solution

16

In [16]:
16*2

32

In [17]:
32+2

34

# Concatenating text strings

In [41]:
greeting = "Hello"  # without separtor 
addressee = "World"
whole_greeting = greeting + addressee
print(whole_greeting)

HelloWorld

In [40]:
greeting = "Hello"  # with separtor
addressee = "World"
sep = "\t"
whole_greeting = greeting +  sep +  addressee
print(whole_greeting)

Hello	World

In [42]:
firstName  = "Nasir"
lastName = "Hussain"

In [45]:
fullName = firstName + " " + lastName
print(fullName)

Nasir Hussain

In [51]:
name = "Usama"
age  = 20
sentence = "my name is "+name+" and my age is "+str(age)
print(sentence)

my name is Usama and my age is 20

In [53]:
dosraSentence = "after 10 years my age will be "+ str(age+10)
dosraSentence

'after 10 years my age will be 30'

In [55]:
name = "afshan"
age = 20 
my = "my name is " + name + " and my age is " + str(age)
print(my)

my name is afshan and my age is 20

In [57]:
sec = "after 10  years my age will be " + str(age +10 )
sec

'after 10  years my age will be 30'

In [60]:
a = input()

one

In [64]:
name = input()
age = input()
print("your name is " + name+  " and your age is " +age)

afshan
20
your name is afshan and your age is 20

In [68]:
name  = input("Enter your good name plz : ")
age  = int(input("Enter your age plz : "))

Enter your good name plz : afshan
Enter your age plz : 20

In [ ]:
name  = input("Enter your good name plz : ")
age  = int(input("Enter your age plz : "))

# class 2

In [27]:
a = 100

In [28]:
a + 10

110

In [29]:
a

100

In [30]:
a /=10
a

10.0

In [32]:
a = "apple "
b = "100 "
a+str(b)

'apple 100 '

In [33]:
name = input("Bhai jan name bataen")
age  = int(input ("age bataen"))

Bhai jan name bataenafshan
age bataen20

In [43]:
f_name = input("your name is: ")
age = int(input("your age is: "))

your name is: afshi
your age is: 21

In [48]:
print("my name is "+ f_name+ " and my age is "+str(age) )

my name is afshi and my age is 21

In [49]:
print("my name is {} and my age is {}".format(f_name,age))

my name is afshi and my age is 21

In [51]:
name = input("Bhai jan name bataen ")
age  = int(input ("age bataen "))
print(f"my name is {name} and my age is {age}")

Bhai jan name bataen afshan
age bataen20
my name is afshan and my age is 20

In [52]:
name = input("name plz ")
age = int(input("age plz "))
print(f" your name is {name} and your age is {age }")

name plz maryam
age plz 30
 your name is maryam and your age is 30

In [57]:
age  = int(input ("yoour age: "))
if age > 19:
    print("Adult")
else:
    print("TeenAger")

yoour age: 19
TeenAger

In [69]:
y_age = int(input("y0ur age plz: "))
if y_age > 19:
    print("your age is " +str(y_age)+  " and yu are Adult")
else:
    print("your age is " +str(y_age) +" and yu are TeenAger")

y0ur age plz: 30
your age is 30 and yu are Adult

In [15]:
cnic  = input("do you have a valid CNIC ")

if cnic=="yes":
    print("Go inside")
    nameIsList = input("is your name in voter list")
    if nameIsList =="yes":
        print("You can caste vote")
    else:
        print("you cant caste coz ur name not in list")
else:
    print("you cant caste bring cnic ")

do you have a valid CNIC y e s
you cant caste bring cnic

/////////////////.lower: lower the text and .replace: relace one from another

In [17]:
id_card = input("Do you have your ID CARD ").lower().replace(" ","") 
if id_card == "yes":
    print("thank yu,, now yu can go inside ")
    name = input("what's your name for vote ")
    if name == "yes":
        print("you can cast vote ")
    else:
        print("you can't cast because your name not in list ")
else:
            print("you can't cast without nic ")

Do you have your ID CARD yes
thank yu,, now yu can go inside
what's your name for vote yes
you can cast vote

In [20]:
"PAKISTAN".lower()

'pakistan'

In [22]:
"pakistan".upper()

'PAKISTAN'

In [25]:
" pakistan ".title()

' Pakistan '

In [26]:
" paksitan ".strip() # remove thee spaces

'paksitan'

In [3]:
"afshan".replace("a", "b")

'bfshbn'

In [4]:
print("heello")

heello

In [13]:
license = input("Do yuo have liscence? ")
if license=="yes":
    ans = "Jao"
else:
    book = input("Book hy ")
    if book=="yes":
        ans ="Jao"
    else:
        ans = "Chai pani"
        
print(ans)

Do yuo have liscence? no
Book hy yes
Jao

In [16]:
if ((input("license ")=="yes") and (input("book ")=="yes") and (input("money ")=="yes")):
    print("Jao")
else:
    print("aao")

license yes
book no
aao

In [18]:
if ((input("have license ")=="yes") and (input("have book ")=="yes") and (input("money ")=="yes")):
    print("yu can go")
else:
    print("yu can't go ")

have license yes
have book yes
money yes
yu can go

In [6]:
species = "cat"
if species == "cat":
    print("Yep, it's cat.")

Yep, it's cat.

In [8]:
if species == "cat":
    print("Yep, it's cat.")
else:
    print("Nope, not cat.")

Yep, it's cat.

In [15]:
pat_name = input("which pat yu have? ")
if pat_name == "cat":
    print("yu have " +pat_name)
else:
    print("you don't have cat")

which pat yu have? dog
you don't have cat

In [2]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [7]:
a = int(input("enter num one: "))
b = int(input("enter num two: "))
if a == b:
    print("both num are equal " )
elif a > b:
    print("num one " + str(a) + " is grater then num two: " + str(b))
elif a < b:
    print("num one " + str(a) + " is less then num two: " + str(b))
else:
    print("plz enter valid num")

enter num one: 5
enter num two: 6
num one 5 is less then num two 6

In [3]:
weight = int(input("whts yr weight: "))
time = int(input("time to take: "))
age = int(input("whts yr age: "))
height = int(input("whts yr height: "))
if weight >= 50 and time <= 6 and age >= 17 and height <= 72:
    status = "congratz yu are selected"
    print(status)
   # print("congratz yu are selected")
else:
    print("sorry yu are nt able to select")

whts yr weight: 50
time to take: 6
whts yr age: 17
whts yr height: 72
congratz yu are selected

In [1]:
num = int(input("Enter a number:  "))
if num % 2 == 0:
    print(f"the {num} is even")
else:
    print(f"the number {num} is odd")

Enter a number:  4
the 4 is even