In [1]:
city_to_ckeck = "apple"

In [9]:
cleanest_cities = ["apple","banana", "mango"]
cleanest_cities

['apple', 'banana', 'mango']

In [10]:
print ("cleanest_cities")

cleanest_cities

In [13]:
print(l1[0])
print(l1[1])
print(l1[2])
print(l1[3])
print(l1[4])
print(l1[5])
print(l1[6])
print(l1[7])
print(l1[8])
print(l1[9])

1
2
3
4
5
6
7
8
9

IndexError: tuple index out of range

In [14]:
l1 = 1,2,3,4,5,6,7,8,9

In [15]:
print(l1[0])
print(l1[1])
print(l1[2])
print(l1[3])
print(l1[4])
print(l1[5])
print(l1[6])
print(l1[7])
print(l1[8])
print(l1[9])

1
2
3
4
5
6
7
8
9

IndexError: tuple index out of range

In [16]:
for i in l1:
    print(i)

1
2
3
4
5
6
7
8
9

# for // resrce key work, i is a variable,backspace"for out the loop", collon is complesalary;

In [17]:
for i in l1:
    print(i)

1
2
3
4
5
6
7
8
9

In [20]:
cities = ['khi', 'lhr', 'hyd', 'isl', 'mul', 'fsd']
cities

['khi', 'lhr', 'hyd', 'isl', 'mul', 'fsd']

In [29]:
for i in cities:
    if (i == 'isl'):
        print(f'{i}andy wala berger')
    elif (i == 'mul'):
        print(f'{i}sohan halwa')
    elif ( i == 'khi'):
        print(f'{i} : bryani')
    else:
            print('not found')

khi : bryani
not found
not found
islandy wala berger
mulsohan halwa
not found

In [30]:
l1

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [36]:
for i in l1:
    if i == 5:
        break
    else:
        print(i)

1
2
3
4

In [37]:
for i in l1:
    if i == 5:
        continue 
    else:
        print(i)

1
2
3
4
6
7
8
9

In [46]:
l2 = 1,2,3,4,5,6,7,8,9
l2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [51]:
for i in l2:
    if i == 5:
        continue 
    elif i == 8: 
         break
    else:
        print(i)

1
2
3
4
6
7

In [53]:
state = ("Delaware", "Pennsylvania", "New Jersey", "Georgia")
state

('Delaware', 'Pennsylvania', 'New Jersey', 'Georgia')

In [71]:
second_state_founded = state[2]
second_state_founded

'New Jersey'

# tuple.

In [73]:
frts = ("banana", "mango", "apple", "orange")
frts

('banana', 'mango', 'apple', 'orange')

In [74]:
fruit_find = frts[3]
fruit_find

'orange'

In [65]:
var1 = list(range(2, 21, 2)) // last 2 is the step to get the value or the last 2 is increment valve 
var1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [68]:
var3 = list(range(3, 31, 3))
var3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [83]:
list(range(20, 0, -1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [86]:
var5 = list(range(50, 5, -5))
var5

[50, 45, 40, 35, 30, 25, 20, 15, 10]

# class 4 "29th Dec"

In [4]:
for a in range(10):
    n = int(input())
    m = int(input())
    sum = n + m
    if sum > 100:
        break
    print(sum)

80
20
100
90
20

In [1]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print ','.join(l)

SyntaxError: invalid syntax (<ipython-input-1-43cfb9de83e1>, line 6)

In [ ]:
l = []
for i in range(2000, 3000):
    if(i % 7==0 ) and (i % 5!0):
        l.append(str(i))
        print",".join(l)

In [2]:
flag = True
while flag:
    num = input("enter a num")
    print(num)
    if num == "q":
        flag = False

enter a num3
3
enter a num4
4
enter a num6
6
enter a num7
7
enter a numq
q

In [65]:
emp_list = []
good_emp = []
bad_emp = []

flag = True
while flag:
    employee = input("enter a empl0ye name: ")
    if employee == "q":
        flag = False
    else:
        emp_list.append(employee)
        
print("Employee in the list are" ,emp_list)

for a in emp_list:
    if a.startswith("s"):
        good_emp.append(a)
        print("Good Employee in the list are" ,good_emp)
    else:
        bad_emp.append(a)
        print("bad Employee in the list are" ,bad_emp)

enter a empl0ye name: afshan
enter a empl0ye name: saba
enter a empl0ye name: taha
enter a empl0ye name: sumbul
enter a empl0ye name: q
Employee in the list are ['afshan', 'saba', 'taha', 'sumbul']
bad Employee in the list are ['afshan']
Good Employee in the list are ['saba']
bad Employee in the list are ['afshan', 'taha']
Good Employee in the list are ['saba', 'sumbul']

In [49]:
sale_name = []
bad_sale_name = []
good_sale = []
bad_sale = []

flag = True
while flag:
    name = input("enter a salesman name: ")
    sale = int(input("inter a sale amount"))
    
    if name == "q":
        sale == 0
        flag = False
        
    elif sale >= 1000:
        sale_name.append(name)
        good_sale.append(sale)
        print("Good salesman in the list are" ,sale_name, good_sale )
    elif sale < 1000 :
        bad_sale_name.append(name)
        bad_sale.append(sale)
        print("bad salesman in the list are" ,bad_sale_name, bad_sale )

enter a salesman name: afshan
inter a sale amount8000
Good salesman in the list are ['afshan'] [8000]
enter a salesman name: kinza
inter a sale amount6000
Good salesman in the list are ['afshan', 'kinza'] [8000, 6000]
enter a salesman name: taha
inter a sale amount4000
Good salesman in the list are ['afshan', 'kinza', 'taha'] [8000, 6000, 4000]
enter a salesman name: muzammil
inter a sale amount800
bad salesman in the list are ['muzammil'] [800]
enter a salesman name: maryam
inter a sale amount600
bad salesman in the list are ['muzammil', 'maryam'] [800, 600]
enter a salesman name: q
inter a sale amount0